body {
  background-image: url("assets/milkyWay.jpg");
  background-color: rgba(1, 1, 1, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /*
    background: linear-gradient(160deg, #094B91 0%, #226BB8 50%, #094B91 100%);
  */
    height: 100vh;
    padding: 0;
    color: white;
}
